.DS_Store
npm-debug.log
Thumbs.db
/node_modules/
/out/
/dist/
/.vs/
tsconfig.lsif.json
*.lsif
*.db
*.vsix
/.vscode-test*/
/downloads/
/packer-files/
/profile/
/screen-captures/
/vagrant-boxes/
*.iso
*.pvm
*.macvm
*.ipsw
**/*/.env
node_modules/
/remote-desktop-client-src/
vscode.d.ts