.devcontainer
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
dist/*.map
*.vsix
.vscode-test*/
downloads/
packer-files/
profile/
screen-captures/
vagrant-boxes/
script/
docs/
*.iso
*.pvm
*.macvm
*.ipsw
